<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section class="flex-horizontal flex">

    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div id="name-alias" class="grow-two flex-column">
      <div id="name">
        <label for="house-name">{{localize "COB.Name"}}</label>
        <input type="text" id="house-name" name="name" value="{{actor.name}}">
      </div>
  
      <div class="flex-vertical">
        <div class="item-class-label">
          <a class="item-add-popup" data-distinct="true" data-item-type="house_reputation">{{localize "COB.HouseReputation"}}</a>
        </div>
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "house_reputation")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body item-sheet-open flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <div class="item-name">{{item.name}}</div>
            </div>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="grow-two flex-vertical">
      <div id="house">
        <label for="house-house">{{localize "COB.house"}}</label>
        <input type="text" id="house-house" name="data.house" value="{{data.house}}">
      </div>


      <div class="flex-horizontal">

        <div id="house-hold" class="flex-horizontal">
          <div class="black-label">{{localize "COB.Hold"}}</div>
          {{#multiboxes data.hold}}
          <div class="flex-horizontal">
            <div class="gray-label">{{localize "COB.Weak"}}</div>
            <input id="house-hold-weak" type="radio" name="data.hold" value="weak">
            <label for="house-hold-weak"></label>
          </div>
          <div class="flex-horizontal">
            <div class="gray-label">{{localize "COB.Strong"}}</div>
            <input id="house-hold-strong" type="radio" name="data.hold" value="strong">
            <label for="house-hold-strong"></label>
          </div>
          {{/multiboxes}}
        </div>

        <div id="house-tier">
          {{#multiboxes data.tier}}
          <input id="house-tier-0" type="radio" name="data.tier" value="0">
          <label for="house-tier-0" class="black-label">{{localize "COB.Tier"}}</label>
          {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=4 actor=../actor field="data.tier" name="tier" currentval=../data.tier }}
          {{/multiboxes}}
        </div>
      </div>

    </div>
  </section>


  <section class="flex-horizontal flex">
    <div id="house-reputation">
      {{#multiboxes data.reputation}}
      {{#repturf data.turfs_amount}}
        <label class="black-label" for="house-reputation-0">{{localize "COB.Rep"}}</label>
        <input type="radio" id="{{../actor._id}}-house-reputation-0" name="data.reputation" value="0" dtype="Radio">
        {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=12 actor=../actor field="data.reputation" name="reputation" currentval=../data.reputation }}
      {{/repturf}}
      {{/multiboxes}}
      <div class="gray-label">{{localize "COB.Turf"}}</div>
    </div>

    {{!-- Influences --}}
    <div id="house-Influences">

      <div id="house-Influences-hands">
        <div class="stripe">
          <label for="house-Influences-hands-0">{{localize "COB.Influences"}} <!-- <i class="fab fa-creative-commons-zero nullifier"></i>--></label>
        </div>
        <div class="house-Influences Influences-hands">
          {{#multiboxes data.Influences.value}}
          {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=4 actor=../actor field="data.Influences.value" name="Influences-hands" currentval=../data.Influences.value }}
          {{/multiboxes}}
        </div>
      </div>

      {{#if data.vault.max}}
      <div id="house-Influences-vault">
        
        <div class="stripe">
          <label for="house-Influences-vault-0">{{localize "COB.Vault"}} <!-- <i class="fab fa-creative-commons-zero nullifier"></i> --></label>
        </div>
        <div class="house-Influences Influences-vault">
          {{#multiboxes data.vault.value}}
            <input type="radio" id="house-Influences-vault-0" name="data.vault.value" value="0" checked="checked" hidden>
            {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=data.vault.max actor=../actor field="data.vault.value" name="Influences-vault" currentval=../data.vault.value }}
          {{/multiboxes}}
        </div>

      </div>
      {{/if}}
    
    </div>

    {{!-- Heat/Wanted --}}
    <div id="heat-wanted" class="flex-horizontal big-teeth-section">
  
      <div id="house-heat" class="big-teeth">
        {{#multiboxes data.heat}}
          <label class="black-label" for="house-heat-0">{{localize "COB.Heat"}}</label>
          <input type="radio" id="{{../actor._id}}-house-heat-0" name="data.heat" value="0" dtype="Radio">
          {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=9 actor=actor field="data.heat" name="heat" currentval=data.heat }}
        {{/multiboxes}}
  
      </div>
      <div id="house-wanted-container" class="small-teeth-container">
        {{#multiboxes data.wanted}}
        <div id="house-wanted" class="small-teeth-wrap">
          <label class="black-label" for="house-wanted-counter-0">{{localize "COB.Wanted"}}</label>
          <div class="small-teeth">
            {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=4 actor=actor field="data.wanted" name="wanted" currentval=data.wanted }}
          </div>
        </div>
        {{/multiboxes}}
      </div>
  
    </div>
  </section>

  <section class="flex-horizontal flex">

    <div class="flex-vertical">

      <div id="house-class" class="class-name">
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "house_type")}}
        <div class="big-name">{{item.name}}</div>
        <div class="big-description">{{item.data.description}}</div>
        {{/if}}
        {{/each}}
      </div>
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="turfs">{{localize "COB.Turfs"}}</a>
        <a class="item" data-tab="upgrades">{{localize "COB.Upgrades"}}</a>
        <a class="item" data-tab="abilities">{{localize "COB.Abilities"}}</a>
        <a class="item" data-tab="cohorts">{{localize "COB.Cohorts"}}</a>
        <a class="item" data-tab="notes">{{localize "COB.Notes"}}</a>
        <a class="item" data-tab="all-items">{{localize "COB.AllItems"}}</a>
      </nav>
    </div>


    {{!-- House XP --}}
    <div class="flex-fertical">
      <div class="big-teeth-section">
        <div id="house-xp" class="big-teeth">
          <label class="black-label" for="house-experience-0">{{localize "COB.HouseXP"}}</label>
          {{#multiboxes data.experience}}
          <input type="radio" id="house-experience-0" name="data.experience" value="0" dtype="Radio">
          {{> "systems/court-of-blades/templates/parts/radiotoggles.html" count=10 actor=actor field="data.experience" name="experience" currentval=data.experience }}
<!--          {{#house_experience}}{{/house_experience}}-->
          {{/multiboxes}}
        </div>
      </div>
      <div class="experience-clues-container">
        <div class="experience-clues-description">{{localize "COB.HouseExpClue1"}}</div>
        <div class="experience-clues">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "house_type")}}
          {{html text=item.data.experience_clues}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

  </section>

  {{!-- Tabs --}}
  <section class="tab-content flex">

    {{!-- Turfs --}}
    <div class="tab" data-tab="turfs">
      <div class="label-stripe">
        <p><label>{{localize "COB.Turfs"}}</label></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "house_type")}}
      <div class="item" data-item-id="{{item._id}}">
      {{> "systems/court-of-blades/templates/parts/turf-list.html" turfs_data=item.data.turfs can_edit=false}}
      </div>
      {{/if}}
      {{/each}}
    </div>


    {{!-- House Upgrades --}}
    <div id="house-upgrades" class="tab grow-two flex-vertical" data-tab="upgrades">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "COB.HouseUpgrades"}}</p>
        <p><a class="item-add-popup" data-item-type="house_upgrade"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "house_upgrade")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{{item.data.description}}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- House Abilities --}}
    <div id="house-abilities" class="tab grow-two flex-vertical" data-tab="abilities">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "COB.SpecialAbilities"}}</p>
        <p><a class="item-add-popup" data-item-type="house_ability"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "house_ability")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{{item.data.description}}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Cohorts --}}
    <div id="house-cohorts" class="tab grow-two flex-vertical" data-tab="cohorts">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "COB.Cohorts"}}</p>
        <p><a class="add-item" data-item-type="cohort"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="cohorts flex-horizontal">
        {{#each actor.items as |item id|}}
          {{#if (eq item.type "cohort")}}
          
            {{> "systems/court-of-blades/templates/parts/cohort-block.html" item=item}}
    
          {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Notes --}}
    <div id="notes" class="tab grow-two flex-vertical" data-tab="notes">
      <div class="label-stripe">
        <p>{{localize "COB.Notes"}}</p>
      </div>
      <textarea rows="15" name="data.description">{{{data.description}}}</textarea>
    </div>

    {{!-- Full Item List --}}
    <div class="tab grow-two flex-vertical" data-tab="all-items">
      <div class="label-stripe">
        <p><label>{{localize "COB.AllItems"}}</label></p>
      </div>
      {{#each actor.items as |item id|}}
      <div class="item flex-horizontal" data-item-id="{{item._id}}">
        <div class="item-body item-sheet-open flex-horizontal">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
          <div class="item-name">{{item.name}}</div>
        </div>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
      {{/each}}
    </div>

  </section>


</form>
