<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section class="flex-horizontal flex">

    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

    <div id="name-alias" class="grow-two flex-column">
      <div id="name">
        <label for="crew-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="crew-name" name="name" value="{{actor.name}}">
      </div>
  
      <div class="flex-vertical">
        <div class="item-class-label">
          <a class="item-add-popup" data-distinct="true" data-item-type="crew_reputation">{{localize "BITD.CrewReputation"}}</a>
        </div>
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "crew_reputation")}}
          <div class="item flex-horizontal" data-item-id="{{item._id}}">
            <div class="item-body item-sheet-open flex-horizontal">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <div class="item-name">{{item.name}}</div>
            </div>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="grow-two flex-vertical">
      <div id="lair">
        <label for="crew-lair">{{localize "BITD.Lair"}}</label>
        <input type="text" id="crew-lair" name="data.lair" value="{{data.lair}}">
      </div>


      <div class="flex-horizontal">

        <div id="crew-hold" class="flex-horizontal">
          <div class="black-label">{{localize "BITD.Hold"}}</div>
          {{#multiboxes data.hold}}
          <div class="flex-horizontal">
            <div class="gray-label">{{localize "BITD.Weak"}}</div>
            <input id="crew-hold-weak" type="radio" name="data.hold" value="weak">
            <label for="crew-hold-weak"></label>
          </div>
          <div class="flex-horizontal">
            <div class="gray-label">{{localize "BITD.Strong"}}</div>
            <input id="crew-hold-strong" type="radio" name="data.hold" value="strong">
            <label for="crew-hold-strong"></label>
          </div>
          {{/multiboxes}}
        </div>

        <div id="crew-tier">
          {{#multiboxes data.tier}}
          <input id="crew-tier-0" type="radio" name="data.tier" value="0">
          <label for="crew-tier-0" class="black-label">{{localize "BITD.Tier"}}</label>
          {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=4 actor=../actor field="data.tier" name="tier" currentval=../data.tier }}
          {{/multiboxes}}
        </div>
      </div>

    </div>
  </section>


  <section class="flex-horizontal flex">
    <div id="crew-reputation">
      {{#multiboxes data.reputation}}
      {{#repturf data.turfs_amount}}
        <label class="black-label" for="crew-reputation-0">{{localize "BITD.Rep"}}</label>
        <input type="radio" id="{{../actor._id}}-crew-reputation-0" name="data.reputation" value="0" dtype="Radio">
        {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=12 actor=../actor field="data.reputation" name="reputation" currentval=../data.reputation }}
      {{/repturf}}
      {{/multiboxes}}
      <div class="gray-label">{{localize "BITD.Turf"}}</div>
    </div>

    {{!-- Coins --}}
    <div id="crew-coins">

      <div id="crew-coins-hands">
        <div class="stripe">
          <label for="crew-coins-hands-0">{{localize "BITD.Coins"}} <!-- <i class="fab fa-creative-commons-zero nullifier"></i>--></label>
        </div>
        <div class="crew-coins coins-hands">
          {{#multiboxes data.coins.value}}
          {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=4 actor=../actor field="data.coins.value" name="coins-hands" currentval=../data.coins.value }}
          {{/multiboxes}}
        </div>
      </div>

      {{#if data.vault.max}}
      <div id="crew-coins-vault">
        
        <div class="stripe">
          <label for="crew-coins-vault-0">{{localize "BITD.Vault"}} <!-- <i class="fab fa-creative-commons-zero nullifier"></i> --></label>
        </div>
        <div class="crew-coins coins-vault">
          {{#multiboxes data.vault.value}}
            <input type="radio" id="crew-coins-vault-0" name="data.vault.value" value="0" checked="checked" hidden>
            {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=data.vault.max actor=../actor field="data.vault.value" name="coins-vault" currentval=../data.vault.value }}
          {{/multiboxes}}
        </div>

      </div>
      {{/if}}
    
    </div>

    {{!-- Heat/Wanted --}}
    <div id="heat-wanted" class="flex-horizontal big-teeth-section">
  
      <div id="crew-heat" class="big-teeth">
        {{#multiboxes data.heat}}
          <label class="black-label" for="crew-heat-0">{{localize "BITD.Heat"}}</label>
          <input type="radio" id="{{../actor._id}}-crew-heat-0" name="data.heat" value="0" dtype="Radio">
          {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=9 actor=actor field="data.heat" name="heat" currentval=data.heat }}
        {{/multiboxes}}
  
      </div>
      <div id="crew-wanted-container" class="small-teeth-container">
        {{#multiboxes data.wanted}}
        <div id="crew-wanted" class="small-teeth-wrap">
          <label class="black-label" for="crew-wanted-counter-0">{{localize "BITD.Wanted"}}</label>
          <div class="small-teeth">
            {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=4 actor=actor field="data.wanted" name="wanted" currentval=data.wanted }}
          </div>
        </div>
        {{/multiboxes}}
      </div>
  
    </div>
  </section>

  <section class="flex-horizontal flex">

    <div class="flex-vertical">

      <div id="crew-class" class="class-name">
        {{#each actor.items as |item id|}}
        {{#if (eq item.type "crew_type")}}
        <div class="big-name">{{item.name}}</div>
        <div class="big-description">{{item.data.description}}</div>
        {{/if}}
        {{/each}}
      </div>
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="turfs">{{localize "BITD.Turfs"}}</a>
        <a class="item" data-tab="upgrades">{{localize "BITD.Upgrades"}}</a>
        <a class="item" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
        <a class="item" data-tab="cohorts">{{localize "BITD.Cohorts"}}</a>
        <a class="item" data-tab="notes">{{localize "BITD.Notes"}}</a>
        <a class="item" data-tab="all-items">{{localize "BITD.AllItems"}}</a>
      </nav>
    </div>


    {{!-- Crew XP --}}
    <div class="flex-fertical">
      <div class="big-teeth-section">
        <div id="crew-xp" class="big-teeth">
          <label class="black-label" for="crew-experience-0">{{localize "BITD.CrewXP"}}</label>
          {{#multiboxes data.experience}}
          <input type="radio" id="crew-experience-0" name="data.experience" value="0" dtype="Radio">
          {{> "systems/blades-in-the-dark/templates/parts/radiotoggles.html" count=10 actor=actor field="data.experience" name="experience" currentval=data.experience }}
<!--          {{#crew_experience}}{{/crew_experience}}-->
          {{/multiboxes}}
        </div>
      </div>
      <div class="experience-clues-container">
        <div class="experience-clues-description">{{localize "BITD.CrewExpClue1"}}</div>
        <div class="experience-clues">
          {{#each actor.items as |item id|}}
          {{#if (eq item.type "crew_type")}}
          {{html text=item.data.experience_clues}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>

  </section>

  {{!-- Tabs --}}
  <section class="tab-content flex">

    {{!-- Turfs --}}
    <div class="tab" data-tab="turfs">
      <div class="label-stripe">
        <p><label>{{localize "BITD.Turfs"}}</label></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "crew_type")}}
      <div class="item" data-item-id="{{item._id}}">
      {{> "systems/blades-in-the-dark/templates/parts/turf-list.html" turfs_data=item.data.turfs can_edit=false}}
      </div>
      {{/if}}
      {{/each}}
    </div>


    {{!-- Crew Upgrades --}}
    <div id="crew-upgrades" class="tab grow-two flex-vertical" data-tab="upgrades">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "BITD.CrewUpgrades"}}</p>
        <p><a class="item-add-popup" data-item-type="crew_upgrade"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "crew_upgrade")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{{item.data.description}}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Crew Abilities --}}
    <div id="crew-abilities" class="tab grow-two flex-vertical" data-tab="abilities">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "BITD.SpecialAbilities"}}</p>
        <p><a class="item-add-popup" data-item-type="crew_ability"><i class="fas fa-plus-square"></i></a></p>
      </div>
      {{#each actor.items as |item id|}}
      {{#if (eq item.type "crew_ability")}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <b><div class="item-name">{{item.name}}</div></b>
            <div class="item-description">{{{item.data.description}}}</div>
          </div>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      {{/if}}
      {{/each}}
    </div>

    {{!-- Cohorts --}}
    <div id="crew-cohorts" class="tab grow-two flex-vertical" data-tab="cohorts">
      <div class="label-stripe flex-horizontal">
        <p>{{localize "BITD.Cohorts"}}</p>
        <p><a class="add-item" data-item-type="cohort"><i class="fas fa-plus-square"></i></a></p>
      </div>
      <div class="cohorts flex-horizontal">
        {{#each actor.items as |item id|}}
          {{#if (eq item.type "cohort")}}
          
            {{> "systems/blades-in-the-dark/templates/parts/cohort-block.html" item=item}}
    
          {{/if}}
        {{/each}}
      </div>
    </div>

    {{!-- Notes --}}
    <div id="notes" class="tab grow-two flex-vertical" data-tab="notes">
      <div class="label-stripe">
        <p>{{localize "BITD.Notes"}}</p>
      </div>
      <textarea rows="15" name="data.description">{{{data.description}}}</textarea>
    </div>

    {{!-- Full Item List --}}
    <div class="tab grow-two flex-vertical" data-tab="all-items">
      <div class="label-stripe">
        <p><label>{{localize "BITD.AllItems"}}</label></p>
      </div>
      {{#each actor.items as |item id|}}
      <div class="item flex-horizontal" data-item-id="{{item._id}}">
        <div class="item-body item-sheet-open flex-horizontal">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
          <div class="item-name">{{item.name}}</div>
        </div>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
      {{/each}}
    </div>

  </section>


</form>
