$Influence_size: 15px;
$Influence_margin: 3px;

.Influences {
  @include custom_radio_square($Influence_size);
  flex-wrap: wrap;

  input ~ label {
    margin-right: $Influence_margin;
    margin-bottom: $Influence_margin;

    &[for$="0"] {
      border-width: 2px;
    }

    @include changeable($transition-period, $hover-brightness, $hover-opacity);
  }

  &.Influences-hands {
    width: 36px;
  }

  &.Influences-stashed {
    width: 190px;
  }

}
